*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    min-height: 50vh;
    background-image: linear-gradient(to top,rgba(4,9,30,0.7)50%,rgba(4,9,30,0.7)50%),url(images/bg4.jpg);
    background-position: center;
    background-size: 65%;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 150px;
    float: left;
    height: 70px;
}
.logo{
    color: #3492fd;
    font-size: 35px;
    font-family: arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    flex: 1;
    text-align: right;
    float: left;
    align-items: center;
    display: flex;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-left: 62px;
    margin-top: 27px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}
.menu ul li a:hover{
    color: #3492fd;
}
.menu ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: #3492fd;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 1s;

}
.menu ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: whitesmoke;
}
.line{
    width: 500px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}













